/* About Page */
  .explain{
    text-align: center;
    font-size: 2vw;
  }
/* Cards with accomplishments */
  .row-about{
    margin: 0 -5px;
  }
  .column-about{
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  .row-about:after{
    content: "";
    display: table;
    clear: both;
  }
  .card {
    padding: 16px;
    text-align: center;
    background-color: rgba(253, 228, 2, 0.952);
    color: black;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 20px;
  }
  .fas {font-size:50px;
  color: rgb(22, 22, 22);
  }


/* Donate and Contact */
  .column-donate{
    float: left;
    width: 50%;
    padding: 0 5px;
  }
  .contact{
    text-align: center;
    font-family:'serif_gothic_blackregular';
    font-size: 3vw;
    text-transform: uppercase;
  }
  .donate{
    font-size: 1.3vw;
    text-align: center;
  }
  /* Donate Button */
    .place{
      font-family:'serif_gothic_blackregular';
      text-align: center;
      font-size: 2vw;
    }
    .donate-button{
      border-radius: 10px;
      background-color: rgba(253, 228, 2, 0.952);
      color: black;
      border: none;
      padding: 18px 25px;
      cursor: pointer;
    }
    .donate-button:hover{
      color: black;
      background-color: rgba(253, 228, 2, 0.753);
    }

  /* Snackbar */ 
  #snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #333;
      color: #fff; 
      text-align: center;
      border-radius: 15px; 
      padding: 16px;
      position: fixed;
      left: 50%;
      bottom: 30px;
    }
    
    #snackbar.show {
      visibility: visible; 
      /* Fade out after 1.5s delay */
    -webkit-animation: fadein 0.5s, fadeout 1s 1.5s; 
    animation: fadein 0.5s, fadeout 1s 1.5s;
    }
    
    /* Animations to fade the snackbar */
    @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;} 
      to {bottom: 30px; opacity: 1;}
    }
    
    @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }
    
    @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;} 
      to {bottom: 0; opacity: 0;}
    }
    
    @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }

/* RESPONSIVENESS */
@media screen and (max-width: 600px) {
  .column-about {
    width: 100%;
    display: block;   
  }
  .column-donate {
    width: 100%;
    display: block;   
  }
  /* Text specific */
  .explain {
    font-size: 4vw;
  }
  .contact{
    font-size: 7vw;
  }
  .donate{
    font-size: 4vw;
    text-align: center;
  }
  .place{
    font-size:6vw;
  }
}