 
/* Responsive images */
    .row{
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }
    .column{
      flex: 50%;
        max-width: 50%;
        padding: 0 4px;
    }
    .column img {
      margin-top: 8px;
      vertical-align: middle;
    }
    @media screen and (max-width: 800px) {
      .column {
          flex: 50%;
          max-width: 50%;
      }
    }
    @media screen and (max-width: 600px) {
      .column {
          flex: 100%;
          max-width: 100%;
      }
    }
  /* Effect for hover */
  img.onHover {
    border: 1px;
    padding: 0.5%;
    cursor: pointer;
    transition: transform 0.2s;
    border-radius: 25px;
  }
  .onHover:hover {opacity: 0.7;}
  
/* Modal */
    .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color:black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    max-width: 100%;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 8vw;
    font-weight: bold;
    z-index: 99;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  /* Number text */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

/* Carousel */
.carousel-inner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  
  /* Responsive */
  @media only screen and (max-width: 700px){
    .carousel-inner{
      width: 100%;
      height: 100%;
    }
    .modal{
      padding-top: 30%;
    }
    .close{
      top: 3%;
      font-size: 70px; 
    }
  }
  .pitchers{
    width: 40%;
    height: 90%;
  }