body {
  background-color: black;
}

body>div.container {
  width: 70%;
  margin: auto;
  color: white;
}

/* Top of page things */
.header{
  text-align: center;
  font-family:'serif_gothic_blackregular';
  font-size: 6vw;
  text-transform: uppercase;
}
/* Image at top of every page */
.lone{
  width: 50%;
  display: block;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top:10px;
  border: 10px;
  border-style: double;
  border-color: rgba(253, 228, 2, 0.952);
}
/* Text for pitcher page */
.text{
  text-align: center;
}

/* Footer and back to top btn */
  footer{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(253, 228, 2, 0.952);
  }
  .btn{
    border: none;
    color: white;
    background-color: black;
    padding: 14px 28px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  .btn:hover{
    background-color: #555;
    color: white;
  }

  /* Smooth scrolling for back to top */
  html{
    scroll-behavior: smooth;
  }
