body {
  padding-top: 70px;
  background-color: black;
  margin: 0;
}
body>div.container {
  width: 70%;
  margin: auto;
  color: white;
}
.header{
  text-align: center;
  font-family:'serif_gothic_blackregular';
  font-size: 6vw;
  text-transform: uppercase;
}
.text{
  text-align: center;

}
.lone{
  width: 50%;
  display: block;
  margin:auto;
  border: 10px;
  border-style: double;
  border-color: rgba(233, 207, 61, 0.884);
}
.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column{
  flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  .column {
      flex: 50%;
      max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
      flex: 100%;
      max-width: 100%;
  }
}
