body{
    background-color: white;
    font-family: "Merriweather", sans-serif;
}
/* .nav-image{
    border: 2px solid black;
} */

.parallax {
  
    /* Set a specific height */
    min-height: 430px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1rem;
}

.parallax-content{
    position: absolute;
    margin-left: 10%;
    z-index: 1000;
    color: white;
    text-shadow: 1px 1px grey;
}
.parallax-header{
    font-weight: bold;
}

.parallax-text{
    font-size: clamp(1.2rem, 2.3vw, 3rem);
    /* width: 80%; */
    font-weight: lighter;
}

@media screen and (max-width: 600px) {
    .parallax-content{
        margin-left: 0;
    }
}

.circle-images{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.image-title{
    font-size: 1.2rem;
    text-align: center;
}

a{
    color: inherit;
    text-decoration: inherit;
}

.page-header{
    margin-bottom: 2rem;
}

.content-row{
    padding: 1rem;
    font-size: 1.2rem;
}

.about-header{
    padding-left: 0.5rem;
    font-size: 3rem;
}

.contact-text{
    font-size: clamp(0.9rem, 1.5vw, 3rem);
    display: inline;
}